:root {
    --primary: #35ac75;
    --secondary: #e53840;
}

.header_right span {
    background-color: var(--primary);
    color: #fff;
}

.sign_in button {
    background-color: var(--primary);
    color: #fff;
    transition: all 0.3s ease;
}

.sign_in button:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

/* Scrollbar custom styling */
.country_dropdown::-webkit-scrollbar {
    width: 5px;
}

.country_dropdown::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.country_dropdown::-webkit-scrollbar-thumb {
    background: #cecfd1;
    border-radius: 10px;
}

.country_dropdown li:hover{
    background-color: var(--primary);
    color: #fff;
}